.order-container{
    /* border: 1px solid red; */
    /* margin: 10px auto; */
    margin: 15px auto;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.order-image img{
    width: 200px;
    height: 200px;
}
.order-image{
    border: 1px solid black;
    width: 250px;
}
.order-text{
    border: 1px solid purple;
    /* width: 400px; */
    width: 80%;
    margin-left: 5px;
    
}
.order-text h3, p{
    margin-left: 5px;
}
.order-text button{
    width: 30%;
    margin-left: 10px;
    margin-top: 5%;
}